<%- include ("../partials/header") %>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <p class="lead"><%= food.restaurant %></p>
            <div class="list-group">
                <a href= "<%= food.page %>" class="list-group-item active">Learn More</a>
            </div>
        <hr>
        </div>
        <div class="col-md-9 card">
            <div class="card-body"> 
                <img class="img-responsive" src=" <%= food.image %>" >
                <div class="caption-full">
                    <h4 class="float-right">$<%= food.price %></h4>
                    <h4><a><%=food.name%></a></h4>
                    <p>Restaurant Name: <%= food.restaurant %></p>
                    <p>Ingredients: <%= food.description %></p>
                    <p>
                        <em>Submitted By <%= food.author.username %>
                        </em>
                    </p>
                    <% if(currentUser && food.author.id.equals(currentUser._id)){ %>
                        <a class= "btn btn-warning" href="/foods/<%= food._id %>/edit">Edit</a>
                        <form id="delete_form" action="/foods/<%= food._id%>?_method=DELETE" method="POST">
                            <button class="btn btn-danger">Delete</button>
                        </form>
                    <% } %>
                </div>
            </div>
            <div class="well">
                <div class="text-right">
                    <a class = "btn btn-success" href="/foods/<%= food._id %>/comments/new">Add a new comment</a>
                </div>
                <hr>
                <% food.comments.forEach(function(comment){ %>
                    <div class= "card">
                        <div class="col-md-12 card-body">
                            <strong><%= comment.author.username %></strong>
                            <span class="float-right">10 days ago</span>
                            <p>
                                <%= comment.text %>
                            </p>
                        </div>
                    </div>
                <% }) %>
            </div>
        </div>
    </div>

</div>

<%- include ("../partials/footer") %>